<div [@opacityAnimation] class=" text-center d-flex justify-content-between align-items-center">
    <div class="imgLogo">
        <img src="../../assets/Empty-ressources/Sources/Avatar Seet/Avatar SEET.png" alt="">
    </div>
    <div class="hero">
        <h3><span>Hello ! </span>Je suis <span>SEET,</span> le générateur de sites web à ton service.</h3>
        <a routerLink="/start" class="start">Générer mon site 
            <span>
                <img src="../../assets/Empty-ressources/Sources/Icons/fleche.png" alt="">
            </span>
        </a>
    </div>
</div>