/*=========== Feuille de style commune du template de chat ============*/
*, 
*::before,
*::after {
    box-sizing: border-box;
}

/*==== Ajuster la taille de l'image peut importe le  type de périphérique ===*/
.headerChat div.avatarSeet img{
    max-width: 15%;
}

/* Centrer le l'avatar */
.headerChat div.avatarSeet{
    display: flex;
    justify-content: center;
}


/* Styler le texte de bienvenue */
.headerChat h1 {
    color: #B2CC12;
    font-weight: bolder;
    text-align: center;
}


/* Texte en dessous de l'avatar */
.headerChat div.avatarText{
    display: flex;
    justify-content: center;
}
.headerChat div.avatarText p {
    color: #D7D6DC;
    text-align: center;
    max-width: 300px;
}


/*===================== Espace de discussion ==================== */

/* Espace de discussion */
.discussionSpace {
    border-radius: 50px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    overflow: hidden;
    padding: 0;
    background-color: #333;
}

.logoChat {
    background-color: #B2CC12;
}
/* Centrer le logo en dessous de l'espace de discussion */
.chatLogo .logoChat {
    display: flex;
    justify-content: center;
}
/* Ajuster la taille du logo en dessous de l'espace de discussion */
.chatLogo .logoChat img{
    mix-blend-mode: luminosity;
    max-width: 10%;
}

.chat .asked {
    display: flex;
    align-items: center;
    height: 100%;
}
.chat .asked span  {
    color: #B2CC12;
    padding-block: auto;
    vertical-align: middle;
}
.chat .asked img {
    max-width: 50px;
    max-height: 50px;
}
.chat .asked .chatbotMsg {
    background-color: #4a494e;
    padding: 1rem;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    color: #D7D6DC;
}

.answer {
    display: flex;
    justify-content: end;
}
.answer .answerBox {
    background-color: #B2CC12;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    padding: 1rem;
}
.answer .answerBox p {
    display: inline-block;
    margin: 0;
}
.answer .answerBox img {
    max-width: 15px;
    margin-left: 0.3rem;
}

form {
    flex-basis: 95%;
}
form input {
    background-color: #B2CC12;
    color: black;
    padding: 1rem;
    width: 100%;
    border: none;
}

input:focus {
    outline: none;
}

svg {
    cursor: pointer;
    padding-right: 0.5rem;
flex-basis: 5%;
}

form ::placeholder {
    color: black;
}