<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quidem natus quas, deserunt necessitatibus obcaecati aperiam inventore cum, dolore, quae tenetur laborum minus illum dolores.</p>
    <form action="#" method="post">
        <fieldset>
            <label for="title">Nom du site:</label>
            <input type="text" name="title" id="title" placeholder="Saisissez le nom de votre site ici....">
            <br>
            <p>
                <label for="categorie">
                    Catégorie:<select id="categorie" class="form-select form-select-lg mb-3" aria-label="Large select example">
                        <option value="submit" disabled selected>Sélectionne une catégorie dans la liste suivante</option>
                        <option value="Automobile">Automobile</option>
                        <option value="Ventes">Ventes</option>
                        <option value="Amusement">Amusement</option>
                        <option value="Ludiques">Ludiques</option>
                        <option value="Danses">Danses</option>
                        <option value="Musiques">Musiques</option>
                        <option value="Restauration">Restauration</option>
                        <option value="Sortie">Sortie</option>
                        <option value="Lso">Lso</option>
                        <option value="PSI">PSI</option>
                        <option value="high">high</option>
                        <option value="Chant">Chant</option>
                        <option value="Conte">Conte</option>
                        <option value="Sensualité">Sensualité</option>
                        <option value="Echange">Echange</option>
                    </select>
                </label>
            </p>       
<label for="theme">
    Thème:
    <select name="" id="theme">
        <option value="" disabled>votre thème ici</option>
        <option value="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit.</option>
        <option value="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit.</option>
        <option value="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit.</option>
        <option value="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit.</option>
        <option value="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit.</option>
        <option value="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit.</option>
        <option value="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit.</option>
        <option value="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit.</option>
        <option value="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit.</option>
        <option value="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit.</option>
        <option value="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit.</option>
        <option value="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit.</option>
        <option value="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit.</option>
        <option value="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit.</option>
        <option value="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit.</option>
    </select>
</label><br>

<p>
    <label for="">Description :</label>
    <input type="text" id="desc" placeholder="Vos attentes du site.........">
</p>
<p>Choisissez à présent les couleurs de votre choix <br>

    <select name="" id="">
        <option value="First Color">Primo Color</option>
        <option value="a">A</option>
        <option value="b">B</option>
        <option value="c">c</option>
    </select>
    <select name="" id="">
        <option value="">Secondo Color</option>
        <option value="a">A</option>
        <option value="b">B</option>
        <option value="c">c</option>
    </select>
    <select name="" id="">
        <option value="">Third Color</option>
        <option value="a">A</option>
        <option value="b">B</option>
        <option value="c">c</option>
    </select>
    <button class="border-radius">Color_Random</button>
</p>
<br>
<button type="submit" class="center">Générez votre site</button>
        </fieldset>
        <br>
    </form>
</div>
