<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quidem natus quas, deserunt necessitatibus
        obcaecati aperiam inventore cum, dolore, quae tenetur laborum minus illum dolores.</p>
    <form action="#" method="post">
            <label for="title">Nom du site:</label>
            <input type="text" name="title" id="title" placeholder="Saisissez le nom de votre site ici...."><br>

            <label for="categorie">Catégorie: </label>
            <select id="categorie" class="form-select form-select-lg mb-3" aria-label="Large select example" [ngModel]="selectedCategorie" (change)="onSelect($event.target)">
                <option [value]="0" disabled selected>Sélectionne une catégorie dans la liste suivante
                </option>
                <option [value]="categorie.id" *ngFor="let categorie of categories"> {{categorie.titre}} </option>
            </select><br>

            <label for="theme">Thème: </label>
            <select name="" id="theme" >
                <option value="" disabled>votre thème ici</option>
                <option value="liste.id" *ngFor="let liste of themeListe"> {{liste}} </option>
            </select><br>

            <label for="">Description : </label>
            <input type="text" id="desc" placeholder="Vos attentes du site........."><br>
            <fieldset>
                <legend>Choisissez à présent les couleurs de votre choix </legend>
                <select name="" id="">
                    <option value="First Color">Primo Color</option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">c</option>
                </select>
                <select name="" id="">
                    <option value="">Secondo Color</option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">c</option>
                </select>
                <select name="" id="">
                    <option value="">Third Color</option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">c</option>
                </select><br>
                <button class="border-radius">Color_Random</button>
                <br>
            </fieldset>
            <button type="submit" class="center">Générez votre site</button>
        <br>
    </form>
</div>