
*,
*::before,
*::after {
    box-sizing: border-box;
}


.logo{
    width:120px; 
    margin-inline: 1rem ;  
}

.logo-flex img {
    margin-right: -5px;
}

.logo-flex span {
    font-size: 2rem;
    color: #B2CC12;
}

nav {
    background-color: transparent;
    /* border-bottom: solid 6px #D7D6DC; */
    /* border: solid 1px #B2CC12; */
    color: #B2CC12;

}

.menuTitre{
    color: #B2CC12;
}

.imgIcon {
    width: 20px;
    mix-blend-mode: color(white );
}


a {
    font-weight: bold;
    transition: all 0.5s;
    font-size: 1.2rem;
    /* border: solid 1px #B2CC12; */
}

.commencer {
    background-color: #D7D6DC;
    color: #B2CC12;
    border: solid 1px #D7D6DC;
    font-weight: 900;
}

ul li .navLi span{
    transition: all 0.5s;
    font-weight: 900;
}

ul li .navLi:hover {
    border-color: #181818;
}


ul li .navLi img{
    transition: all 0.5s;
    margin-right: .3rem;
}

ul li .navLi:hover img{
    transform: scale(1.1);
}

ul li .commencer:hover{
    background-color: #B2CC12;
    color: #181818;
}

.buttonToggle span{
    mix-blend-mode: difference;
    width: 30px;
}

.navbar-collapse {
    justify-content: end;
}

.inline {
    display: block;
    border-bottom: solid 1px #B2CC12;
    width: 100%;
}