
    <nav class="navbar justify-content-between" id="navbg">
        <div class="container">
            <a routerLink="" class="navbar-brand d-flex align-items-center logo-flex">
                <img src="../assets/Empty-ressources/Sources/Logos/Logo blanc.png" class="logo" alt="Logo Seet">
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item ">
                    <a routerLink="" class="navLi btn me-2">
                        <img src="../assets/Empty-ressources/Sources/Icons/accueil.png" alt="">
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a routerLink="/template" class="navLi btn me-2">
                        <img src="../assets/Empty-ressources/Sources/Icons/photos.png" alt="">
                        <span>Galerie</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="#" class="navLi btn commencer me-2" routerLink="/start">Commencer</a>
                </li>
                <li class="nav-item  ">
                    <button href="#" class="navLi btn me-2 " ><img src="../assets/Empty-ressources/Sources/Icons/soleil.png" alt=""></button>
                </li>
            </ul>
            <!-- <a href="#" class="menuH"> <img src="../assets/Img/menu-fill (1).png" alt="menu" width="50rem" ></a> -->
        </div>
    </nav>
    <!-- <app-contact></app-contact> -->
    <router-outlet></router-outlet>


<style>

</style>