.logo{
    width:90px; 
    margin-inline: 1rem ;  
}
nav {
    background-color: #B2CC12;
}

li img {
    width: 25px;
}

li a {
    font-weight: bold;
}

.commencer {
    background-color: #181818;
    color: #B2CC12;
}