<div class="container">
    <nav class="navbar bg-body-tertiary justify-content-between">
        <a href="#" class="navbar-brand">
            <img src="../assets/Img/logo.png" alt="Avatar Logo" style="width:100px;">
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <button class="btn btn-outline-success me-2" type="button">Home</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-success me-2" type="button">Chat</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-success me-2" type="button">Template</button>
            </li>
          </ul>
    </nav>
    <router-outlet></router-outlet>
    <app-contact></app-contact>
</div>