*,
*::before,
*::after {
    box-sizing: border-box;
}


.logo {
    width: 30px;
    margin-inline: 1rem;
}

.parentLogo {
    display: flex;
    align-items: center;
}

.parentLogo span {
    color: #f6ca0c;
    font-size: 1.6rem;
}

.logo-flex img {
    margin-right: -5px;
}

.logo-flex span {
    font-size: 2rem;
    color: #f6ca0c;
}

nav {
    background-color: transparent;
    /* border-bottom: solid 6px #D7D6DC; */
    /* border: solid 1px #f6ca0c; */
    color: #f6ca0c;

}

/* Style 1 */
.background-style-1 {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/Empty-ressources/Sources/Background/white.jpg);
    background-blend-mode: color-dodge;
    /* background-color: #f0f0f0; */
    /* background-color: #151413; */
    background-size: cover;
    background-attachment: fixed;
}

/* Style 2 */
.background-style-2 {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/Empty-ressources/Sources/Background/fond2.jpg);
    background-blend-mode: color-dodge;
    /* background-color: #f0f0f0; */
    /* background-color: #151413; */
    background-size: cover;
    background-attachment: fixed;

}

/* Style du bouton */


div.racine {
    /* position: relative; */
    width: 100vw;
    height: 100vh;
    background-color: #151413;
}

.menuTitre {
    color: #f6ca0c;
}

.imgIcon {
    width: 20px;
    mix-blend-mode: color(white);
}


a {
    font-weight: bold;
    transition: all 0.5s;
    font-size: 1.2rem;
    /* border: solid 1px #f6ca0c; */
}

.commencer {
    background-color: #D7D6DC;
    color: #f6ca0c;
    border: solid 1px #D7D6DC;
    font-weight: 900;
}

ul li .navLi span {
    transition: all 0.5s;
    font-weight: 900;
}

ul li .navLi:hover {
    border-color: #181818;
}


ul li .navLi img {
    transition: all 0.5s;
    margin-right: .3rem;
}

ul li .navLi:hover img {
    transform: scale(1.1);
}

ul li .commencer:hover {
    background-color: #f6ca0c;
    color: #181818;
}

.buttonToggle span {
    mix-blend-mode: difference;
    width: 30px;
}

.navbar-collapse {
    justify-content: end;
}

.inline {
    display: block;
    border-bottom: solid 1px #f6ca0c;
    width: 100%;
}