<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="../../assets/aaressources/owl-carousel/owl.theme.default.css">
    <link rel="stylesheet" href="../../assets/aaressources/owl-carousel/owl.theme.default.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="../../assets/aaressources/owl-carousel/owl.carousel.min.js"></script>
</head>

<body>

    <h2>Modèles</h2>
    <div class="owl-carousel owl-theme">

        <div style="border: 1px solid; background-color: rgb(135, 235, 135); padding: 3rem; display: inline-block; margin-right: 1rem;">
            
        </div>

        <div style="border: 1px solid; background-color: rgb(233, 233, 121) ; padding: 3rem; display: inline-block; margin-right: 1rem;">
        
        </div>

        <div style="border: 1px solid; background-color: rgb(233, 92, 92); padding: 3rem; display: inline-block; margin-right: 1rem;">
            
        </div>

        <div style="border: 1px solid; background-color: rgb(110, 110, 224); padding: 3rem; display: inline-block; margin-right: 1rem;">
            
        </div>

        <div style="border: 1px solid; background-color: rgb(172, 166, 166); padding: 3rem; display: inline-block; margin-right: 1rem;">

        </div>

        <div style="border: 1px solid; background-color: #d15ebe; padding: 3rem; display: inline-block; margin-right: 1rem;">
            
        </div>
    </div>

    <!-- <script>
        $(function () {
            $(".owl-carousel").owlCarousel({
                nav: true,
                loop: true,
                items: 4
            })
        })
    </script> -->

</body>

</html>