<!-- Carousel -->
<div [@opacityAnimation]>
    <h2>Découvrez ici quelques templates générés sur notre site.</h2>
    <div class="carouselParent container">
        <div id="cass1" class="carousel slide mt-0 mb-5 divCarousel" data-bs-ride="carousel">
    
            <!-- Points au bas d'image/trois barres -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#cass1" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#cass1" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#cass1" data-bs-slide-to="2"></button>
            </div>
    
            <!-- Diaporama/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/aaressources/templates/template 1/Screenshot 2023-08-04 at 14-36-21 Level HTML Template by Tooplate.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 1/Screenshot 2023-08-04 at 14-37-28 Level HTML Template by Tooplate.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 1/Screenshot 2023-08-04 at 14-38-44 Level HTML Template by Tooplate.png"
                        class="d-block" style="width:100%">
                </div>
            </div>
    
            <!-- Touche commande droite et gauche/fleche -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cass1" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cass1" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    
        <div id="cass2" class="carousel slide mt-0 mb-5 divCarousel" data-bs-ride="carousel">
    
            <!-- Points au bas d'image/trois barres -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#cass2" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#cass2" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#cass2" data-bs-slide-to="2"></button>
            </div>
    
            <!-- Diaporama/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/aaressources/templates/template 2/Screenshot 2023-08-04 at 14-44-56 Pop HTML CSS Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 2/Screenshot 2023-08-04 at 14-45-15 Pop HTML CSS Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 2/Screenshot 2023-08-04 at 14-45-41 Pop HTML CSS Template.png"
                        class="d-block" style="width:100%">
                </div>
            </div>
    
            <!-- Touche commande droite et gauche/fleche -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cass2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cass2" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    
        <div id="cass3" class="carousel slide mt-0 mb-5 divCarousel" data-bs-ride="carousel">
    
            <!-- Points au bas d'image/trois barres -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#cass3" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#cass3" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#cass3" data-bs-slide-to="2"></button>
            </div>
    
            <!-- Diaporama/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/aaressources/templates/template 3/Screenshot 2023-08-04 at 14-48-23 Infinite Loop - Bootstrap 4.0 HTML Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 3/Screenshot 2023-08-04 at 14-48-51 Infinite Loop - Bootstrap 4.0 HTML Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 3/Screenshot 2023-08-04 at 14-49-06 Infinite Loop - Bootstrap 4.0 HTML Template.png"
                        class="d-block" style="width:100%">
                </div>
            </div>
    
            <!-- Touche commande droite et gauche/fleche -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cass3" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cass3" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <div id="cass4" class="carousel slide mt-0 mb-5 divCarousel" data-bs-ride="carousel">
    
            <!-- Points au bas d'image/trois barres -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#cass4" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#cass4" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#cass4" data-bs-slide-to="2"></button>
            </div>
    
            <!-- Diaporama/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/aaressources/templates/template 4/Screenshot 2023-08-04 at 14-51-52 JobEntry - Job Portal Website Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 4/Screenshot 2023-08-04 at 14-52-38 JobEntry - Job Portal Website Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 4/Screenshot 2023-08-04 at 14-52-55 JobEntry - Job Portal Website Template.png"
                        class="d-block" style="width:100%">
                </div>
            </div>
    
            <!-- Touche commande droite et gauche/fleche -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cass4" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cass4" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <div id="cass5" class="carousel slide mt-0 mb-5 divCarousel" data-bs-ride="carousel">
    
            <!-- Points au bas d'image/trois barres -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#cass5" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#cass5" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#cass5" data-bs-slide-to="2"></button>
            </div>
    
            <!-- Diaporama/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/aaressources/templates/template 5/Screenshot 2023-08-04 at 15-01-14 Shapel.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 5/Screenshot 2023-08-04 at 15-02-37 Shapel.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 5/Screenshot 2023-08-04 at 15-02-54 Shapel.png"
                        class="d-block" style="width:100%">
                </div>
            </div>
    
            <!-- Touche commande droite et gauche/fleche -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cass5" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cass5" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <div id="cass6" class="carousel slide mt-0 mb-5 divCarousel" data-bs-ride="carousel">
    
            <!-- Points au bas d'image/trois barres -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#cass6" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#cass6" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#cass6" data-bs-slide-to="2"></button>
            </div>
    
            <!-- Diaporama/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/aaressources/templates/template 6/Screenshot 2023-08-04 at 15-06-45 Simply Amazed HTML Template by Tooplate.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 6/Screenshot 2023-08-04 at 15-07-30 Simply Amazed HTML Template by Tooplate.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 6/Screenshot 2023-08-04 at 15-07-47 Simply Amazed HTML Template by Tooplate.png"
                        class="d-block" style="width:100%">
                </div>
            </div>
    
            <!-- Touche commande droite et gauche/fleche -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cass6" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cass6" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <div id="cass7" class="carousel slide mt-0 mb-5 divCarousel" data-bs-ride="carousel">
    
            <!-- Points au bas d'image/trois barres -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#cass7" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#cass7" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#cass7" data-bs-slide-to="2"></button>
            </div>
    
            <!-- Diaporama/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/aaressources/templates/template 1/Screenshot 2023-08-04 at 14-36-21 Level HTML Template by Tooplate.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 7/Screenshot 2023-08-04 at 15-19-34 Zay Shop - About Page.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 7/Screenshot 2023-08-04 at 15-19-46 Zay Shop - Product Listing Page.png"
                        class="d-block" style="width:100%">
                </div>
            </div>
    
            <!-- Touche commande droite et gauche/fleche -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cass7" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cass7" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <div id="cass8" class="carousel slide mt-0 mb-5 divCarousel" data-bs-ride="carousel">
            <!-- Points au bas d'image/trois barres -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#cass8" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#cass8" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#cass8" data-bs-slide-to="2"></button>
            </div>
            <!-- Diaporama/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/aaressources/templates/template 8/Screenshot 2023-08-04 at 15-22-02 Plot Listing HTML5 Website Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 8/Screenshot 2023-08-04 at 15-22-14 Plotlist - Listing HTML5 Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 8/Screenshot 2023-08-04 at 15-22-46 Plot Listing Page.png"
                        class="d-block" style="width:100%">
                </div>
            </div>
    
            <!-- Touche commande droite et gauche/fleche -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cass8" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cass8" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <div id="cass9" class="carousel slide mt-0 mb-5 divCarousel" data-bs-ride="carousel">
    
            <!-- Points au bas d'image/trois barres -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#cass9" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#cass9" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#cass9" data-bs-slide-to="2"></button>
            </div>
    
            <!-- Diaporama/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/aaressources/templates/template 9/Screenshot 2023-08-04 at 15-26-58 Medic Care Bootstrap 5 CSS Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 9/Screenshot 2023-08-04 at 15-27-34 Medic Care Bootstrap 5 CSS Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 9/Screenshot 2023-08-04 at 15-27-49 Medic Care Bootstrap 5 CSS Template.png"
                        class="d-block" style="width:100%">
                </div>
            </div>
    
            <!-- Touche commande droite et gauche/fleche -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cass9" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cass9" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <div id="cass10" class="carousel slide mt-0 mb-5 divCarousel" data-bs-ride="carousel">
    
            <!-- Points au bas d'image/trois barres -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#cass10" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#cass10" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#cass10" data-bs-slide-to="2"></button>
            </div>
    
            <!-- Diaporama/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/aaressources/templates/template 10/Screenshot 2023-08-04 at 15-30-31 Nomad Force HTML Bootstrap 5 Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 10/Screenshot 2023-08-04 at 15-31-19 Nomad Force HTML Bootstrap 5 Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 10/Screenshot 2023-08-04 at 15-31-44 Nomad Force HTML Bootstrap 5 Template.png"
                        class="d-block" style="width:100%">
                </div>
            </div>
    
            <!-- Touche commande droite et gauche/fleche -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cass10" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cass10" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <div id="cass11" class="carousel slide mt-0 mb-5 divCarousel" data-bs-ride="carousel">
    
            <!-- Points au bas d'image/trois barres -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#cass11" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#cass11" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#cass11" data-bs-slide-to="2"></button>
            </div>
    
            <!-- Diaporama/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/aaressources/templates/template 11/Screenshot 2023-08-04 at 15-33-52 Hexashop Ecommerce HTML CSS Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 11/Screenshot 2023-08-04 at 15-34-48 Hexashop Ecommerce HTML CSS Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 11/Screenshot 2023-08-04 at 15-35-20 Hexashop - Product Listing Page.png"
                        class="d-block" style="width:100%">
                </div>
            </div>
    
            <!-- Touche commande droite et gauche/fleche -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cass11" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cass11" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <div id="cass12" class="carousel slide mt-0 mb-5 divCarousel" data-bs-ride="carousel">
    
            <!-- Points au bas d'image/trois barres -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#cass12" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#cass12" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#cass12" data-bs-slide-to="2"></button>
            </div>
    
            <!-- Diaporama/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/aaressources/templates/template 12/Screenshot 2023-08-04 at 15-38-28 Leadership Event HTML5 Bootstrap v5 Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 12/Screenshot 2023-08-04 at 15-38-50 Leadership Event HTML5 Bootstrap v5 Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 12/Screenshot 2023-08-04 at 15-39-14 Leadership Event HTML5 Bootstrap v5 Template.png"
                        class="d-block" style="width:100%">
                </div>
            </div>
    
            <!-- Touche commande droite et gauche/fleche -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cass12" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cass12" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <div id="cass13" class="carousel slide mt-0 mb-5 divCarousel" data-bs-ride="carousel">
    
            <!-- Points au bas d'image/trois barres -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#cass13" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#cass13" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#cass13" data-bs-slide-to="2"></button>
            </div>
    
            <!-- Diaporama/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/aaressources/templates/template 13/Screenshot 2023-08-04 at 15-48-15 SnapX Photography by TemplateMo.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 13/Screenshot 2023-08-04 at 15-51-04 SnapX Photography Categories.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 13/Screenshot 2023-08-04 at 15-54-52 SnapX Photo Contests.png"
                        class="d-block" style="width:100%">
                </div>
            </div>
    
            <!-- Touche commande droite et gauche/fleche -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cass13" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cass13" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <div id="cass14" class="carousel slide mt-0 mb-5 divCarousel" data-bs-ride="carousel">
    
            <!-- Points au bas d'image/trois barres -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#cass14" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#cass14" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#cass14" data-bs-slide-to="2"></button>
            </div>
    
            <!-- Diaporama/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/aaressources/templates/template 14/Screenshot 2023-08-04 at 16-00-43 Liberty NFT Marketplace - HTML CSS Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 14/Screenshot 2023-08-04 at 16-05-42 Liberty Template - Create NFT Page.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 14/Screenshot 2023-08-04 at 16-06-02 Liberty NFT - Author Detail Page.png"
                        class="d-block" style="width:100%">
                </div>
            </div>
    
            <!-- Touche commande droite et gauche/fleche -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cass14" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cass14" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <div id="cass15" class="carousel slide mt-0 mb-5 divCarousel" data-bs-ride="carousel">
    
            <!-- Points au bas d'image/trois barres -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#cass15" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#cass15" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#cass15" data-bs-slide-to="2"></button>
            </div>
    
            <!-- Diaporama/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/aaressources/templates/template 15/Screenshot 2023-08-04 at 16-10-06 Festava Live - Bootstrap 5 CSS Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 15/Screenshot 2023-08-04 at 16-10-38 Festava Live - Bootstrap 5 CSS Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 15/Screenshot 2023-08-04 at 16-11-06 Festava Live - Bootstrap 5 CSS Template.png"
                        class="d-block" style="width:100%">
                </div>
            </div>
    
            <!-- Touche commande droite et gauche/fleche -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cass15" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cass15" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <div id="cass16" class="carousel slide mt-0 mb-5 divCarousel" data-bs-ride="carousel">
    
            <!-- Points au bas d'image/trois barres -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#cass16" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#cass16" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#cass16" data-bs-slide-to="2"></button>
            </div>
    
            <!-- Diaporama/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/aaressources/templates/template 16/Screenshot 2023-08-04 at 16-14-45 Gentlemen's Barber Shop - HTML CSS Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 16/Screenshot 2023-08-04 at 16-15-04 Gentlemen's Barber Shop - HTML CSS Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 16/Screenshot 2023-08-04 at 16-15-24 Gentlemen's Barber Shop - HTML CSS Template.png"
                        class="d-block" style="width:100%">
                </div>
            </div>
    
            <!-- Touche commande droite et gauche/fleche -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cass16" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cass16" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <div id="cass17" class="carousel slide mt-0 mb-5 divCarousel" data-bs-ride="carousel">
    
            <!-- Points au bas d'image/trois barres -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#cass17" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#cass17" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#cass17" data-bs-slide-to="2"></button>
            </div>
    
            <!-- Diaporama/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/aaressources/templates/template 17/Screenshot 2023-08-04 at 16-18-51 Tiya Golf Club - Free HTML CSS Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 17/Screenshot 2023-08-04 at 16-19-36 Tiya Golf Club - Event Listing.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 17/Screenshot 2023-08-04 at 16-19-59 Tiya Golf Club - Free HTML CSS Template.png"
                        class="d-block" style="width:100%">
                </div>
            </div>
    
            <!-- Touche commande droite et gauche/fleche -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cass17" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cass17" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <div id="cass18" class="carousel slide mt-0 mb-5 divCarousel" data-bs-ride="carousel">
    
            <!-- Points au bas d'image/trois barres -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#cass18" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#cass18" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#cass18" data-bs-slide-to="2"></button>
            </div>
    
            <!-- Diaporama/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/aaressources/templates/template 18/Screenshot 2023-08-04 at 16-22-20 ebook landing page template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 18/Screenshot 2023-08-04 at 16-22-42 ebook landing page template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 18/Screenshot 2023-08-04 at 16-22-56 ebook landing page template.png"
                        class="d-block" style="width:100%">
                </div>
            </div>
    
            <!-- Touche commande droite et gauche/fleche -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cass18" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cass18" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <div id="cass19" class="carousel slide mt-0 mb-5 divCarousel" data-bs-ride="carousel">
    
            <!-- Points au bas d'image/trois barres -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#cass19" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#cass19" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#cass19" data-bs-slide-to="2"></button>
            </div>
    
            <!-- Diaporama/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/aaressources/templates/template 19/Screenshot 2023-08-04 at 16-28-10 Woody - Carpenter Website Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 19/Screenshot 2023-08-04 at 16-28-29 Woody - Carpenter Website Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 19/Screenshot 2023-08-04 at 16-28-57 Woody - Carpenter Website Template.png"
                        class="d-block" style="width:100%">
                </div>
            </div>
    
            <!-- Touche commande droite et gauche/fleche -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cass19" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cass19" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <div id="cass20" class="carousel slide mt-0 mb-5 divCarousel" data-bs-ride="carousel">
    
            <!-- Points au bas d'image/trois barres -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#cass20" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#cass20" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#cass20" data-bs-slide-to="2"></button>
            </div>
    
            <!-- Diaporama/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/aaressources/templates/template 20/Screenshot 2023-08-04 at 16-33-37 Lugx Gaming Shop HTML5 Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 20/Screenshot 2023-08-04 at 16-37-43 Lugx Gaming - Shop Page.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 20/Screenshot 2023-08-04 at 16-41-50 Lugx Gaming - Product Detail.png"
                        class="d-block" style="width:100%">
                </div>
            </div>
    
            <!-- Touche commande droite et gauche/fleche -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cass20" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cass20" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <div id="cass21" class="carousel slide mt-0 mb-5 divCarousel" data-bs-ride="carousel">
    
            <!-- Points au bas d'image/trois barres -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#cass21" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#cass21" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#cass21" data-bs-slide-to="2"></button>
            </div>
    
            <!-- Diaporama/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/aaressources/templates/template 21/Screenshot 2023-08-04 at 16-34-09 WoOx Travel Bootstrap 5 Theme.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 21/Screenshot 2023-08-04 at 16-40-55 WoOx Travel - Special Deals.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 21/Screenshot 2023-08-04 at 16-48-26 WoOx Travel - About Us.png"
                        class="d-block" style="width:100%">
                </div>
            </div>
    
            <!-- Touche commande droite et gauche/fleche -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cass21" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cass21" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <div id="cass22" class="carousel slide mt-0 mb-5 divCarousel" data-bs-ride="carousel">
    
            <!-- Points au bas d'image/trois barres -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#cass22" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#cass22" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#cass22" data-bs-slide-to="2"></button>
            </div>
    
            <!-- Diaporama/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/aaressources/templates/template 22/Screenshot 2023-08-04 at 15-05-29 settle.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 22/Screenshot 2023-08-04 at 15-05-29 settle.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 22/Screenshot 2023-08-04 at 15-05-29 settle.png"
                        class="d-block" style="width:100%">
                </div>
            </div>
    
            <!-- Touche commande droite et gauche/fleche -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cass22" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cass22" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <div id="cass23" class="carousel slide mt-0 mb-5 divCarousel" data-bs-ride="carousel">
    
            <!-- Points au bas d'image/trois barres -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#cass23" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#cass23" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#cass23" data-bs-slide-to="2"></button>
            </div>
    
            <!-- Diaporama/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/aaressources/templates/template 23/Screenshot 2023-08-04 at 16-50-24 Onix Digital Marketing HTML5 Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 23/Screenshot 2023-08-04 at 16-50-45 Onix Digital Marketing HTML5 Template.png"
                        class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/aaressources/templates/template 23/Screenshot 2023-08-04 at 16-51-07 Onix Digital Marketing HTML5 Template.png"
                        class="d-block" style="width:100%">
                </div>
            </div>
    
            <!-- Touche commande droite et gauche/fleche -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cass23" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cass23" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
</div>