
    <h2>Modèles</h2>
    <carousel>

        <slide style="border: 3px solid #87eb87; padding: 3rem; margin-right: 1rem;">
           <img src="../../assets/aaressources/lamp-1.jpg" alt=""> 
        </slide>

        <slide style="border: 3px solid #e9e979; padding: 3rem; margin-right: 1rem;">
           <img src="../../assets/aaressources/mer1.jpg" alt=""> 
        </slide>

        <slide style="border: 3px solid #e95c5c; padding: 3rem; margin-right: 1rem;">
           <img src="../../assets/aaressources/lamp-1.jpg" alt=""> 
        </slide>

        <slide style="border: 3px solid #6e6ee0; padding: 3rem; margin-right: 1rem;">
           <img src="../../assets/aaressources/mer1.jpg" alt=""> 
        </slide>

        <slide style="border: 3px solid #08f185; padding: 3rem; margin-right: 1rem;">
            <img src="../../assets/aaressources/lamp-1.jpg" alt=""> 
         </slide>

        <slide style="border: 3px solid #d15ebe; padding: 3rem; margin-right: 1rem;">
           <img src="../../assets/aaressources/mer1.jpg" alt=""> 
        </slide>
    </carousel>

    
