@import url("./font-face.css");

body.body{
    font-family: ProductSans;
    background-image: url("./assets/Empty-ressources/Sources/Background/fond.jpg");
    background-size: cover;
<<<<<<< HEAD
=======
    
>>>>>>> feature/euloge
}