@import url("./font-face.css");

body.body{
    font-family: ProductSans;
    /* background-image: url("./assets/Empty-ressources/Sources/Background/fond2.jpg"); */
    /* background-blend-mode: color-dodge; */
    /* background-color: #151413; */
    /* background-size: cover;
    background-attachment: fixed; */
    position: relative;
}