@import url("./font-face.css");

body.body{
    font-family: ProductSans;
    background-image: url("./assets/Empty-ressources/Sources/Background/fond.jpg");
    background-size: cover;
<<<<<<< HEAD
    
=======
>>>>>>> 255fa55c41a971894339af16779c1cdfb0b40188
}