<div [@opacityAnimation]>
    <div>
        <a href="#"><img src="" alt="logo"></a>
        <p>nom de l'appli</p>
<div class="container text-center">
    <div class="imgLogo">
        <img src="../../assets/Empty-ressources/Sources/Logos/new.png" alt="">
    </div>
    <h1><span>Hello ! </span>Je suis <span>SEET,</span> le générateur de sites web à ton service.</h1>
    <a routerLink="/start" class="start">Générer mon site <span><img src="../../assets/Empty-ressources/Sources/Icons/fleche.png"
                alt=""></span></a>

</div>